.navbar {
  height: 75px;
  padding: 10px;
  background-image: url("Images/prism.png");
}

.brand-text {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 8px 8px #8f8f8f9c, 20px 20px #08080886;
}

.instruction-btn {
  text-transform: uppercase;
  width: 200px;
  height: 55px;
  background-color: #1a1a1a !important;
  margin-top: 30px;
  border: rgba(155, 155, 155, 0.726) solid 3px !important;
}

.footer {
  padding: 5px;
  height: 55px;
  background-color: white;
  border-top: 5px rgba(71, 71, 71, 0.644) solid;
  background-image: url("Images/prism.png");
}

.footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-text {
  text-shadow: 1px 1px 5px black;
}

.hero {
  min-height: calc(100vh - 130px);
  background-image: url("Images/prism.png");
}

.container {
  padding: 20px;
  width: 80%;
}

.is-gridded {
  height: calc(100vh - 170px);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -ms-grid-rows: 40% 20% 20% 20%;
      grid-template-rows: 40% 20% 20% 20%;
  grid-gap: 0px;
  position: relative;
}

.grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100px;
}

.subtitle {
  color: white;
}

.place_for_music {
  width: 30%;
  height: 25%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  border-radius: 100px;
}

.beat_div {
  height: 50%;
  width: 30%;
  background-image: -webkit-gradient(linear, right top, left top, from(#BDBBBE), to(#9D9EA3)), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-blend-mode: normal, lighten, soft-light;
  border-radius: 100px;
  z-index: 1;
}

.beat_movable {
  position: absolute;
  height: 10%;
  width: 6%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#96fbc4), to(#f9f586));
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  z-index: 10;
  border-radius: 100px;
}

.grid1 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.grid2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

.grid3 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid4 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
}

.grid5 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
}

.grid6 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  border: solid 1px #a1a1a1;
}

.grid7 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  border: solid 1px #a1a1a1;
}

.grid8 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  border: solid 1px #a1a1a1;
}

.grid9 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
  border: solid 1px #a1a1a1;
}

.grid10 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 5;
  grid-column: 5;
  border: solid 1px #a1a1a1;
}

.grid11 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  border: solid 1px #a1a1a1;
}

.grid12 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  border: solid 1px #a1a1a1;
}

.grid13 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  border: solid 1px #a1a1a1;
}

.grid14 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
  border: solid 1px #a1a1a1;
}

.grid15 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 5;
  grid-column: 5;
  border: solid 1px #a1a1a1;
}

.grid16 {
  border: solid 1px #a1a1a1;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
}

.grid17 {
  border: solid 1px #a1a1a1;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

.grid18 {
  border: solid 1px #a1a1a1;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid19 {
  border: solid 1px #a1a1a1;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 4;
  grid-column: 4;
}

.grid20 {
  border: solid 1px #a1a1a1;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 5;
  grid-column: 5;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.637);
}

.modal-card {
  margin-top: 125px;
  border-radius: 50px;
  text-align: center;
  width: 25%;
  border: rgba(155, 155, 155, 0.726) solid 10px;
}

.modal-card-head {
  background-color: #646464;
}
/*# sourceMappingURL=styles.css.map */