.footer{
    padding: 10px;
    height: 55px;
    background-color: white;
    border-top: 2px black solid;
    background-color:rgb(138, 138, 138);
    color: white !important;  
    
}
.footer-items{
    display: flex;
    justify-content: space-between;
}