.footer{
    padding: 5px;
    height: 55px;
    border-top: 5px rgba(71, 126, 39, 0.425) solid;
}
.footer-items{
    display: flex;
    justify-content: space-between;
}
.footer-text{
    text-shadow: 1px 1px 5px black;
}